

<form>

  <div class="form-group">
    <label for="userid">USER ID :</label>
    DigitsOnly<br/><input ng-model="userid" restrict-input="{type: 'digitsOnly'}"/>
  </div>

  <div class="form-group">
    <label for="name">NAME :</label>
    lettersOnly<br/><input ng-model="name" restrict-input="{type: 'lettersOnly'}"/>
  </div>

  <div class="form-group">
    <label for="email">Email :</label> <br>
    <input ng-model="email">
  </div>

  <div class="form-group">
    <label for="phone">Phone :</label> <br>
    <input ng-model="phone">
  </div>

  <button class="btn btn-primary" ng-click="PassDataToDisplyThroughUrl()">Submit</button>

</form>


